body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
    border-radius: 50px;
    padding: 20px;
    height: 400px;
    width: 300px;
    text-align: center;
  }

  .card h2 {
    font-size: 45px;
    margin-bottom: 10px;
  }

  .info {
    display: flex;
    flex-direction: column;
  }

  .info i {
    font-size: 100px;
    color: lightblue;
    animation: shake 0.5s infinite;
  }

  .temperature {
    font-size: 50px;
    font-weight: bold;
  }

  .details {
    font-size: 18px;
    margin: 20px;
    display: flex;
    flex-direction: row;
  }

  .animate__pulse {
    animation: pulse infinite;
  }
  
  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    25%, 75% {
      transform: translateX(-10px);
    }
    50% {
      transform: translateX(10px);
    }
  }


  